:focus {
  outline: none;
}
.founder-message {
  .founder-info {
    .founder-quote {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      h1 {
        max-width: 200px;
      }
    }
  }
  .book-prew {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .info {
      min-width: 240px;
    }
    span {
      width: 100%;
    }
    &__image-wrapper {
      width: 250px;
      background: #e8e8e8;
      padding: 8px;
      box-sizing: border-box;
      line-height: 0;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);

      img {
        width: 100%;
        margin: 0;
      }
    }
  }
  .book-prew__title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #1750b6;
  }
  .book-prew__descrpt {
    font-family: Montserrat;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
    color: #52545a;
  }
  .book-prew__date {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #87949e;
  }
  .button {
    border: 2px solid #1a5bd1;
    display: flex;
    justify-content: space-between;
    padding: 16px 44px;
    max-width: 275px;
    width: 100%;
    align-items: center;
    color: #1a5bd1;
  }
}
.founder-slider {
  text-align: center;
  background: linear-gradient(
    90.3deg,
    #f3f5f7 29.16%,
    rgba(243, 245, 247, 0) 88.63%
  );
  .slick-arrow {
    width: 40px;
    height: 40px;
    z-index: 999;
    margin-top: -50px;
  }

  .slick-next {
    right: -10px;
  }
  .slick-prev {
    left: -10px;
  }
}
@media (min-width: 1220px) {
  .founder-slider {
    .slick-next {
      right: -80px;
    }
    .slick-prev {
      left: -80px;
    }
  }
}
@media (max-width: 1024px) {
  .founder-slider {
    .slick-next {
      right: 15px;
    }
    .slick-prev {
      left: 15px;
    }
  }
}
@media (max-width: 768px) {
  .founder-message {
    .whitepaper {
      .info {
        h3 {
          width: max-content;
        }
        h4 {
          width: max-content;
        }
      }
    }
  }
  .founder-slider {
    .slick-next {
      right: 0px;
    }
    .slick-prev {
      left: 0px;
    }
  }
}
@media (max-width: 767px) {
  .founder-message {
    .founder-info {
      position: relative;
      .founder-quote {
        flex-wrap: wrap-reverse;
        h1 {
          text-align: center;
          font-size: 30px;
          max-width: 100%;
          position: absolute;
          top: 0;
          width: 100%;
        }
        .founder-book {
          padding-top: 40px;
        }
      }
      img {
        margin-bottom: 30px;
      }
    }
    .whitepaper {
      flex-wrap: wrap-reverse;
      text-align: center;
      .whitepaper-cover {
        margin-bottom: 8px;
      }
      .info {
        width: 100%;
        h3 {
          font-size: 40px;
          margin-bottom: 13px;
          width: 100%;
        }
        h4 {
          font-size: 16px;
          margin-bottom: 56px;
          width: 100%;
        }
        .button {
          margin: 0 auto;
        }
      }
    }
    .founder-book {
      margin: 40px auto;
      text-align: center;
    }
  }
}
@media (max-width: 380px) {
  .founder-slider {
    .slick-arrow {
      top: 35%;
    }
  }
}
.founders-post-content {
  p {
    margin-bottom: 20px;
  }
  a {
    font-weight: 700;
    color: #0b3788;
    text-decoration: none;
    margin-left: 0.25rem;
  }

  blockquote {
    padding: 3rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  @media (min-width: 1028px) {
    blockquote {
      font-weight: 600;
      text-align: left;
      max-width: 48rem;
    }
  }
}
