.single-leadership {
  .body-post-inner {
    p {
      margin-bottom: 1.25rem;
      line-height: 1.5rem;
      color: #2f323a;
      font-size: 0.9375rem;
    }
    a {
      color: #157bfa;
    }
  }
}
